@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-image: url(robo.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #262626;
    font-family: 'Rubik', sans-serif;
}

.logo{
    color:white;
    letter-spacing: 3px;
    font-size: 20px;
}

.navlink {
    display: flex;
    justify-content: space-around;
    width: 70%;

}

.navlink li {
    list-style: none;

}
.navlink a {
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .navlink {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navlink {
        position: absolute;
        right: 0px;
        height: 92vh;
        top:  8vh;
        background-color: #262626;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .navlink li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.navactive {
    transform: translate(0%);
}

@keyframes navlinkfade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 100px auto;
    margin-top: 5%;
}

.container .box {
    position: relative;
    width: 370px;
    height: 230px;
    background:#4568B0;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
}

.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#A0B8E8;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon {
    top: 20px;
    left: 40%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .icon .fa {
    position: absolute;
    top: 40%;
    left: 40%;
    transition: translate(50%, 50%);
    font-size: 80px;
    transition: 0.5s;
    color: #F2F0F0;
}

.container .box:hover .icon .fa {
    font-size: 40px;
    top: 25%;
    left: 25%;
    cursor: pointer;
}

.container .box .content {
    position: absolute;
    top: 100%;
    color: #F2F0F0;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
}

.container .box:hover .content {
   top: 100px;
   opacity: 1;
}


.container .box .content h2 {
    font-size: 25px;
}

.container .box .content p {
    font-size: 16px;
}

h3{
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-bottom: 60x;
}