@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #334975;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #262626;
    font-family: 'Rubik', sans-serif;
}

.logo{
    color:white;
    letter-spacing: 3px;
    font-size: 20px;
}

.navlink {
    display: flex;
    justify-content: space-around;
    width: 70%;

}

.navlink li {
    list-style: none;

}
.navlink a {
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .navlink {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navlink {
        position: absolute;
        right: 0px;
        height: 92vh;
        top:  8vh;
        background-color: #262626;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .navlink li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.navactive {
    transform: translate(0%);
}

@keyframes navlinkfade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

h2{
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    color: white;
}

.footer, .push {
    height: 70px;
}
  
  .footer, .push  .fa {
      margin-top: 10px;
      text-align: center;
}
  
.container {
      margin-top: 5%;
      margin-left: 15%;
      margin-right: 15%;
      padding: 500px;
      background-color:#A0B8E8;
}
  
p {
    display: block;
    text-align: justify;
    padding-right: 15%;
    margin-top: 10%;
}